<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .custom-card-title {
            font-size: 24px;
            font-weight: bold;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Jack's Petitions</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/create}">Create Petition</a></li>
                <li><a th:href="@{/allpetitions}">View Petitions</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/search}"> Search</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <h1 class="mb-4">List of Petitions</h1>
    <div class="row">
        <div th:each="entry : ${petitionMap}" class="col-12 mb-4">
            <div class="card border rounded" >
                <div class="card-body">
                    <a th:href="@{'/sign/' + ${entry.key}}"><h5 class="card-title custom-card-title" th:text="${entry.value.title}"></h5></a>
                    <p class="card-text" th:text="${entry.value.description}"></p>
                </div>
                <div class="card-footer">
                    <small class="text-muted"><span th:text="'Author: ' + ${entry.value.author}"></span></small><br>
                    <small class="text-muted"><span class="float-right"><span th:text="'Signatures: ' + ${entry.value.signatureCount}"></span></span></small>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>